[project]
	description = This is the first repository about vybrid which contents differents tests
[access "refs/*"]
	owner = group user/Jesús Alberto Sánchez (jesusalbertosm)
[access "refs/for/refs/*"]
	read = group user/Jesús Alberto Sánchez (jesusalbertosm)
	push = group user/Jesús Alberto Sánchez (jesusalbertosm)
	label-Code-Review = -2..+2 group user/Jesús Alberto Sánchez (jesusalbertosm)
	label-Verified = -1..+1 group user/Jesús Alberto Sánchez (jesusalbertosm)
	rebase = group user/Jesús Alberto Sánchez (jesusalbertosm)
	removeReviewer = group user/Jesús Alberto Sánchez (jesusalbertosm)
	submit = group user/Jesús Alberto Sánchez (jesusalbertosm)
[access "refs/heads/*"]
	read = group user/Jesús Alberto Sánchez (jesusalbertosm)
	create = group user/Jesús Alberto Sánchez (jesusalbertosm)
	push = +force group user/Jesús Alberto Sánchez (jesusalbertosm)
	pushMerge = group user/Jesús Alberto Sánchez (jesusalbertosm)
[access "refs/tags/*"]
	push = +force group user/Jesús Alberto Sánchez (jesusalbertosm)
	pushTag = group user/Jesús Alberto Sánchez (jesusalbertosm)
	pushSignedTag = group user/Jesús Alberto Sánchez (jesusalbertosm)
